@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
  min-height: 100vh;
  font-family: "Mitr", sans-serif;
  overflow-x: hidden;
  max-width: 100%;
}
header {
  position: fixed;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  transition: 0.8s;
}
header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: white;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background-color: #fff;
  color: #1e528e;
  transition: 0.5s;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, #61279e, transparent);
  z-index: 1000;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
footer {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px;
    color: white;
    background-color: #265889;
}
#text {
  position: absolute;
  white-space: nowrap;
  color: #fff;
  font-size: 7.5vw;
  z-index: 9;
  transform: translateY(100px);
}
#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background-color: #fff;
  color: #1e528e;
  font-size: 2vh;
  max-height: 5vh;
  z-index: 9;
  transform: translateY(300px);
}
#gradient {
  z-index: 1100;
}
.sticky {
  background-color: #265889;
  justify-content: space-evenly;
  transition: 0.8s;
  padding-inline: 50px;
}
.sec {
  position: relative;
  padding: 50px;
  background: linear-gradient(to bottom, #61279e 0%, #94dfff 100%);
  z-index: 10;
}
.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}
.sec p,
.sec2 p,
.sec3 p {
    font-size: 2em;color: white;
    align-content: center;
    text-indent: 4vw;
}
.sec h2,
.sec2 h2,
.sec3 h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #fff;
}
.sec2 {
  display: flex;
  background: linear-gradient(to bottom, #94dfff 0%, #1e528e 100%);
  padding: 50px;
}
.sec3 {
  display: flex;
  background: linear-gradient(to bottom, #1e528e 0%, #9da671 100%);
  padding: 50px;
}
.sec2 img,
.sec3 img{
  background-color: white;
  padding: 20px;
  margin: 10px;
}
.video {
  background: linear-gradient(to bottom, #9da671 0%, #8a4fb5 100%);
  display: flex;
  justify-content: center;
}
.video iframe{
  background-color: white;
  padding: 20px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 5px;
  width: 100%;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 2em;
}
.column img#chan-cover{
    width:500px;
    height:500px;
    border-radius: 50%;
}
.top10 {
    background: linear-gradient(to bottom, #8a4fb5 0% , #eb8d80 100%);
    position: relative;
    padding: 50px;
}
.top10 h2{
    color: white;
    font-size: 3em;
}
.top10 img{
    width: 100%;
    height: auto;
    border: white solid 4px;
}
.top10 td{
    padding-inline: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}
#music-player {
    transition: 1s;
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    z-index: 10000;
}
#musicbtn img{
    width: 80px;
    height: auto;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    pointer-events: none;
}
audio{
    display: none;
    position: fixed;
    right: 130px;
    bottom: 35px;
    z-index: 10000;
}
#suggest {
    color: black;
    border-radius: 25px;
    font-size: 1em;
    background-color: white;
    padding: 10px;
    bottom: 120px;
    width: max-content;
    right: 30px;
    position: fixed;
}
#suggestBtn {
    background-color: transparent;
    position: fixed;
    right: 30px;
    bottom: 200px;
    z-index: 10001;
}
#suggestBtn img{
    width: 70px;
    height: auto;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#suggestBtn img:hover{
    background-color: rgba(141, 226, 241, 0.678);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
}
